<h1><%= link_to 'HOME', campaigns_path %> </h1>
<div class='row'>
<h1>SUCCESSFUL VOTES = <%= @campaignvotes.count %></h1>
<h1>FAILED VOTES = <%= @failedvotes.count %></h1>
<h2>TOTAL CANDIDATES = <%= @candidate_array.count %></h2>
<%= @candidate_array.each do |candidate|%>
<h3> <%= candidate[0].choice %>: <%= candidate.count %></h3>
    <% end %>
</div>